*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(227, 227, 227);
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}

main{
    margin:auto;
    width:1200px;
}

header{
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    padding:5px;
    margin-bottom:40px;
}

.product-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-bottom:70px ;
}

.product-card{
    height:340px;
    background-color:white;
    border-radius:15px;
    padding:20px;
    text-align:center;
    position:relative;
    box-shadow:0 5px 10px rgba(123, 123, 123, 0.436);
    transition:transform 0.6s ease, box-shadow 0.6s ease;
    animation: fadein 1.5s ease;
}

@keyframes fadein{
    from{
        transform:translateY(15px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}

product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 8px 15px rgba(123, 123, 123, 0.636);
}


.product-badges{
    position:absolute;
    top:15px;
    right:15px;
    padding:6px 10px;
    font-size:12px;
    border-radius:15px;
    color:white;
    font-weight:bold;
    background-color:rgb(255, 67, 4);
    transition: transform 0.3s ease;
    animation:pulse 1.5s  ease-in-out infinite;
}

.popular{
    background-color:orange;
}

.sale{
    background-color:#3f62ff;
}

.product-images{
    font-size:50px;
    display:block;
    margin-bottom:20px;
    margin-top:20px;
    transition:transform 0.3s ease;
    animation:float 3s infinite;
}

@keyframes float{
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
}

@keyframes pulse{
    0%,100%{transform:scale(1);}
    50%{transform:scale(1.1);}
}

h3{
    margin-bottom:10px;
    font-size:18px;
}

.product-desc{
    color:grey;
    line-height:20px;
    margin-bottom:20px;
    height: 4px;
    overflow: hidden;
    font-size:14px;
}

.price{
    font-size:30px;
    font-weight:bold;
    color:rgb(108,108,255);
    margin-bottom:20px;
    letter-spacing: 1px;
}

.product-btn{
    background-color:rgb(108,108,255);
    color:white;
    border-radius:20px;
    font-size:16px;
    border:none;
    width:100%;
    padding:10px;
    cursor:pointer;
    transition: all 0.3s ease;
}

.product-btn:hover{
    background-color:rgb(84,84,253);
    transform:scale(1.05);
}

.product-btn:active{
    transform:scale(0.95);
}

.comparison-box{
    width:100%;
    background:white;
    margin-top:40px;
    padding:25px;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

.compare-title{
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    text-align:center;
}

thead tr{
    background:#4b4df4;
    color:white;
    font-size:14px;
}

th,td{
    padding:12px;
    border-bottom:1px solid #e0e0e0;
}

footer{
    text-align:center;
    padding:15px;
    background:black;
    color:white;
    margin-top:40px;
}

@media (max-width:768px){
    main{
        width:90%;
    }
    
    .product-cards{
        grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    }
}